{% extends "base.html" %}
{% block content %}
<div class="col pt-2">
        <h2>
            <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none text-center "><i class="fa fa-bars"></i></a>
            Content
        </h2>
        <main>
        <div class="col-md-sm-10 ml-5 py-2">
            <div class="container" id="jar">
                <div class="row">
                    
<div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 400px; ">
                          <div class="row no-gutters ">
                            <div class="col-md-3 col-sm-8 mx-auto">
                              <img src="
                                    https://via.placeholder.com/300.png/09f/fff     
                                        
                                        " class="card-img border-rounded mx-2 my-4" alt="...">
                            </div>
                            <div class="col-md-8 col-sm-8">
                              <div class="card-body c-body">
                                <div class="card-header c-header"> header <br/> </div>
                                <h5 class="card-title"><span class="badge badge-primary">Primary</span>
                        <span class="badge badge-primary">Primary</span>
                        </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <di class="card-footer c-footer">
                                  <span class="fas fa-arrow-right fa-lg mr-4"></span><span class="fas fa-arrow-right mr-4 fa-lg"></span><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                  <i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                </di>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 400px; ">
                            <div class="row no-gutters ">
                              <div class="col-md-3 col-sm-8 mx-auto">
                                <img src="
                                      https://via.placeholder.com/300.png/09f/fff     
                                          
                                          " class="card-img border-rounded mx-2 my-4" alt="...">
                              </div>
                              <div class="col-md-8 col-sm-8">
                                <div class="card-body c-body">
                                  <div class="card-header c-header"> header <br/> </div>
                                  <h5 class="card-title"><span class="badge badge-primary">Primary</span>
                          <span class="badge badge-primary">Primary</span>
                          </h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <di class="card-footer c-footer">
                                    <span class="fas fa-rocket mr-4  fa-lg" ></span><span class="fas fa-cloud-download-alt mr-4 fa-lg"></span><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                    <i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                  </di>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 400px; ">
                              <div class="row no-gutters ">
                                <div class="col-3 col-md-3 col-sm-8 mx-auto">
                                  <img src="
                                        https://via.placeholder.com/300.png/09f/fff     
                                            
                                            " class="card-img border-rounded mx-2 my-4" alt="...">
                                </div>
                                <div class="col-md-8 col-sm-8">
                                  <div class="card-body c-body">
                                    <div class="card-header c-header"> header <br/> </div>
                                    <h5 class="card-title"><span class="badge badge-primary">Primary</span>
                            <span class="badge badge-primary">Primary</span>
                            </h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <di class="card-footer c-footer">
                                      <span class="fas fa-arrow-right fa-lg mr-4"></span><span class="fas fa-arrow-right mr-4 fa-lg"></span><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                      <i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                    </di>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 400px; ">
                                <div class="row no-gutters ">
                                  <div class="col-md-3 col-sm-8 mx-auto">
                                    <img src="
                                          https://via.placeholder.com/300.png/09f/fff     
                                              
                                              " class="card-img border-rounded mx-2 my-4" alt="...">
                                  </div>
                                  <div class="col-md-8 col-sm-8">
                                    <div class="card-body c-body">
                                      <div class="card-header c-header"> header <br/> </div>
                                      <h5 class="card-title"><span class="badge badge-primary">Primary</span>
                              <span class="badge badge-primary">Primary</span>
                              </h5>
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <di class="card-footer c-footer">
                                        <span class="fas fa-arrow-right fa-lg mr-4"></span><span class="fas fa-arrow-right mr-4 fa-lg"></span><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                        <i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                      </di>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 400px; ">
                                  <div class="row no-gutters ">
                                    <div class="col-md-3 col-sm-8 mx-auto">
                                      <img src="
                                            https://via.placeholder.com/300.png/09f/fff     
                                                
                                                " class="card-img border-rounded mx-2 my-4" alt="...">
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                      <div class="card-body c-body">
                                        <div class="card-header c-header"> header <br/> </div>
                                        <h5 class="card-title"><span class="badge badge-primary">Primary</span>
                                <span class="badge badge-primary">Primary</span>
                                </h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <di class="card-footer c-footer">
                                          <span class="fas fa-arrow-right fa-lg mr-4"></span><span class="fas fa-arrow-right mr-4 fa-lg"></span><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                          <i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                        </di>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 400px; ">
                                    <div class="row no-gutters ">
                                      <div class="col-md-3 col-sm-8 mx-auto">
                                        <img src="
                                              https://via.placeholder.com/300.png/09f/fff     
                                                  
                                                  " class="card-img border-rounded mx-2 my-4" alt="...">
                                      </div>
                                      <div class="col-md-8 col-sm-8">
                                        <div class="card-body c-body">
                                          <div class="card-header c-header"> header <br/> </div>
                                          <h5 class="card-title"><span class="badge badge-primary">Primary</span>
                                  <span class="badge badge-primary">Primary</span>
                                  </h5>
                                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                          <di class="card-footer c-footer">
                                            <span class="fas fa-arrow-right fa-lg mr-4"></span><span class="fas fa-arrow-right mr-4 fa-lg"></span><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i><i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                            <i class="fas fa-arrow-right mr-4 fa-lg"></i>
                                          </di>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        
                        
                     

    </div>
    </div>
</div>
</div>
{% endblock %}