{% extends "base.html" %}
{% block content %}
<!-- <script src="../node_modules/ckeditor/ckeditor.js">
</script> -->

<link rel="stylesheet" href="../static/node_modules/ckeditor/samples/toolbarconfigurator/css/fontello.css">

<div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-8 col-lg-10 text-center">
      <form>
    <div class="input-group mb-3 py-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"> UniQue Name </span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
    
          <div class="input-group mb-3 py-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"> Display Name </span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
                     </div>
        </div>
        <div class="row">
            <div class="col col-sm-4 col-md-4 col-lg-4 text-center">
                 <h4> Select language 
                 </h4>
            </div>
        
                 <!-- Example single danger button -->
                 <div class="col col-sm-4 col-md-4 col-lg-4 text-center">
    <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
           
     
        
             
                <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary ml-5" data-toggle="modal" data-target="#exampleModalCenter">
            Choose Template
          </button>
    </div>
          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div> -->
          </div>
    
      {% include "html_editor.html" %}
          
    </div>
   
<script>





</script>
{% endblock %}


