{% extends "base.html" %}
<link href="../static/multislider.js">

{% block content %}
<body>
<div class="container-fluid hello">
    <div class="row">
      <nav class="col-12 col-sm-12 col-md-2" id="verticalScrollspy">
        <ul class="nav flex-column nav-pills nav-scroll">
          <li class="nav-item "><a class="nav-link active" href="#dogs">Modules</a></li>
          <li class="nav-item"><a class="nav-link" href="#cats">How to Use</a></li>
          <li class="nav-item"><a class="nav-link" href="#team">Team Cards</a></li>
          <li class="nav-item"><a class="nav-link" href="#penguins">Design and devolopement </a></li>
          <li class="nav-item"><a class="nav-link" href="#alpacas">Testimonials </a></li>
          <li class="nav-item"><a class="nav-link" href="#rabbits">Feedback</a></li>
        </ul>
      </nav>
      <div class="col-12 col-md-10 col-lg-10">
        <div data-spy="scroll" data-target="#verticalScrollspy">
          <div id="dogs" class="container-fluid" >
            

             {% include "module_cards.html" %}
             {% include "pagination.html" %}
          </div>
          <div id="cats" class="container-fluid">
            <h1>Cats</h1>
            {% include "icon_slider.html" %}
          </div>
          <div id="team" class="container-fluid">
        {% include "domain_team_cards.html"  %}
          </div>
          <div id="penguins" class="container-fluid">
            <h1>Penguins</h1>
           {% include "devlopementanwork.html" %} 
         
          </div>
          <div id="alpacas" class="container-fluid">
            <h1>Alpacas</h1>         
{% include "oer_testimonials.html" %}
          </div>
          <div id="rabbits" class="container-fluid">
            <h1>Rabbits</h1>
{% include "contactForm.html" %}           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script >



      $(document).ready(function() {
        $('body').scrollspy({ target: '#verticalScrollspy' })
      //   $('body').attr('data-spy', 'scroll');
      //   $('body').attr('data-offset', '0');
      //   $('body').attr('data-target', '#verticalScrollspy');
      })
      
      
      
      
      </script> -->
      <script>

        $('#basicSlider').multislider({
                continuous: true,
                duration: 2000
              });
              $('#mixedSlider').multislider({
                duration: 750,
                interval: 3000
              });
        
        
        
        
        </script>
        </script>
        <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
        <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
        <script>


(function(){
    // Your base, I'm in it!
    var originalAddClassMethod = jQuery.fn.addClass;

    jQuery.fn.addClass = function(){
        // Execute the original method.
        var result = originalAddClassMethod.apply( this, arguments );

        // trigger a custom event
        jQuery(this).trigger('cssClassChanged');

        // return the original result
        return result;
    }
})();

$(".nav-link").bind('cssClassChanged' , function(e) {
        $(".nav-item").each( function() {
            if( $(this).hasClass("active") == true ) {
                $(this).removeClass("active");
            }
        });

        $(this).removeClass("active").parent().addClass("active");
    });
          </script>
        
  
{% endblock %}
