{% extends "base.html" %}

{% block content %}
<body>
<div class="container-fluid hello">
    <div class="row">
      <nav class="col-3 col-sm-2" id="verticalScrollspy">
        <ul class="nav flex-column nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#dogs">Dogs</a></li>
          <li class="nav-item"><a class="nav-link" href="#cats">Cats</a></li>
          <li class="nav-item"><a class="nav-link" href="#fish">Fish</a></li>
          <li class="nav-item"><a class="nav-link" href="#penguins">Penguins</a></li>
          <li class="nav-item"><a class="nav-link" href="#alpacas">Alpacas</a></li>
          <li class="nav-item"><a class="nav-link" href="#rabbits">Rabbits</a></li>
        </ul>
      </nav>
      <div class="col-9 col-lg-10">
        <div data-spy="scroll" data-target="#verticalScrollspy">
          <div id="dogs" class="container-fluid" >
            <h1>Dogs</h1>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
          </div>
          <div id="cats" class="container-fluid">
            <h1>Cats</h1>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
          </div>
          <div id="fish" class="container-fluid">
            <h1>Fish</h1>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
          </div>
          <div id="penguins" class="container-fluid">
            <h1>Penguins</h1>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
          </div>
          <div id="alpacas" class="container-fluid">
            <h1>Alpacas</h1>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
          </div>
          <div id="rabbits" class="container-fluid">
            <h1>Rabbits</h1>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
            <p>Look at the navigation menu to see how it interacts with scrolling over this segment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script >



      $(document).ready(function() {
        $('body').scrollspy({ target: '#verticalScrollspy' })
      //   $('body').attr('data-spy', 'scroll');
      //   $('body').attr('data-offset', '0');
      //   $('body').attr('data-target', '#verticalScrollspy');
      })
      
      
      
      
      </script> -->
  </body>
{% endblock %}
