
        <div class="py-5">
			<h1 class="text-center py-5">the devlopement and design process</h1>
			
			
			<div id="mixedSlider">
								<div class="MS-content">
									<div class="item">
										   <div class="card border-dark mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body text-dark">
				<h5 class="card-title">Dark card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
										<a href="#">Read More</a>
									</div>
									<!-- <div class="item">
	
	
											<div class="col-6 col-md-4 offset-2 col-sm-10 ">
													<div class=" card our-team">
														<div class="pic">
															<img src="http://picsum.photos/id/1/100/100">
														</div>
														<h3 class="title">Williamson</h3>
														<span class="post">Web Developer</span>
													  <p class="bio"> </p>
														<ul class="social">
															<li><a href="#" class="fab fa-facebook"></a></li>
															<li><a href="#" class="fab fa-twitter"></a></li>
															<li><a href="#" class="fab fa-google-plus"></a></li>
															<li><a href="#" class="fab fa-linkedin"></a></li>
														</ul>
													</div>
												</div>
												<a href="#"> Read more</a>
									</div> -->
									<div class="item">
										   <div class="card border-dark mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body text-dark">
				<h5 class="card-title">Dark card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
										<a href="#">Read More</a>
									</div>
									<div class="item">
										   <div class="card border-dark mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body text-dark">
				<h5 class="card-title">Dark card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
										<a href="#">Read More</a>
									</div>
									<div class="item">
										 <div class="card border-dark mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body text-dark">
				<h5 class="card-title">Dark card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
										<a href="#">Read More</a>
									</div>
									<div class="item">
										   <div class="card border-dark mb-3" style="max-width: 18rem;">
			  <div class="card-header">Header</div>
			  <div class="card-body text-dark">
				<h5 class="card-title">Dark card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
										<a href="#">Read More</a>
									</div>
								   
								</div>
								<div class="MS-controls">
									<button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
									<button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
								</div>
							</div>
			</div> 
			<script>
			     

$('#mixedSlider').multislider({
duration: 450,
interval: 2000
});
			</script>