<div class="container" style="margin-top:50px;">
        <div class="row">
             <div class="col-5">
                <h1>Our Team</h1>
             </div>
             <div class="col-7">
                <p style="max-width: 450px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex velit, pellentesque quis condimentum at, tincidunt ac risus. Vestibulum ante ipsum primis in faucibus.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-11">
            <div class="carousel-team-card" data-flickity='{ "groupCells": 3, "wrapAround": true }'>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h5>Name</h5>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team ">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h5>Name</h5>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                    <ul class="social" >
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name  ">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Teacher </span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                      <h3 class="title">Williamson</h3>
                      <span class="post">Teacher </span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell our-team">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content bio">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        