<h1 class="text-center py-3"> Explore More    </h1>
<div class="container">
    <div class="row">
      
      <div class="col-12 col-md-6 col-sm-12">
          <div class="card offset-2 shadow mb-3 border-rounded content" style="max-width: 580px; ">
              <div class="row no-gutters ">
                <div class="col-3 col-md-3 col-sm-2 mx-auto">
                  <img src="
                        https://via.placeholder.com/300.png/09f/fff     
                            
                            " class=" img-fluid fa-snapchat-ghostcard-img  border-rounded mx-2 my-4" alt="...">
                </div>
                <div class="col-md-8 col-sm-9">
                  <div class="card-body c-body">
                    <div class="card-header c-header"> header <br/> </div>
                    <h5 class="card-title">
            </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 
                      <button class="btn btn-primary btn-group-sm myBtn mx-2"> explore more</button>
                   
                  </div>
                </div>
              </div>
            </div>

      </div>
      <div class="col-12 col-md-6 col-sm-12">
          <div class="card offset-2 shadow mb-3 border-rounded content" style="max-width: 580px; ">
              <div class="row no-gutters ">
                <div class="col-3 col-md-3 col-sm-2 mx-auto">
                  <img src="
                        https://via.placeholder.com/300.png/09f/fff     
                            
                            " class="card-img  border-rounded mx-2 my-4 " alt="...">
                </div>
                <div class="col-md-8 col-sm-9">
                  <div class="card-body c-body">
                    <div class="card-header c-header"> header <br/> </div>
                    <h5 class="card-title">
            </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                 
                      <button class="btn btn-primary btn-group-sm myBtn"> explore more</button>
                   
                  </div>
                </div>
              </div>
            </div>
</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 580px; ">
                <div class="row no-gutters ">
                  <div class="col-3 col-md-3 col-sm-2 mx-auto">
                    <img src="
                          https://via.placeholder.com/300.png/09f/fff     
                              
                              " class="img-fluid   card-img border-rounded mx-2 my-4" alt="...">
                  </div>
                  <div class="col-md-8 col-sm-9">
                    <div class="card-body c-body">
                      <div class="card-header c-header"> header <br/> </div>
                      <h5 class="card-title">
              </h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   
                        <button class="btn btn-primary btn-group-sm myBtn"> explore more</button>
                     
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card col-md-offset-2 shadow mb-3 border-rounded content" style="max-width: 580px; ">
                <div class="row no-gutters ">
                  <div class="col-3 col-md-3 col-sm-2 mx-auto">
                    <img src="
                          https://via.placeholder.com/300.png/09f/fff     
                              
                              " class="img-fluid    card-img border-rounded mx-2 my-4" alt="...">
                  </div>
                  <div class="col-md-8 col-sm-9">
                    <div class="card-body c-body">
                      <div class="card-header c-header"> header <br/> </div>
                      <h5 class="card-title">
              </h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   
                        <button class="btn btn-primary btn-group-sm myBtn"> explore more</button>
                     
                    </div>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>








