<footer class="mainfooter fixed footer-pix" role="contentinfo">
        <div class="footer-middle">
            <h5 class="text-center py-2">Led By </h5>
        <div class="container">
          <div class="row">
         
            <div class="col-12 col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
               <img src="../static/images/tata_trusts.svg">
              </div>
            </div>
            <div class="col-12 col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <img src="../static/images/tiss.svg" style="width:40%;">
              </div>
            </div>
            <div class="col-12 col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
            <img src="../static/images/mit.svg">
              </div>
            </div>
              <!-- <div class="col-12 col-md-3 col-sm-6">
                  <h4>Follow Us</h4>
                  <ul class="social-network social-circle">
                   <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  </ul>				
              </div> -->
      
       
              <div class="col-md-3">
                  <ul > 

                    <li> About </li>
                    <li> Creadits</li>
                    <li> Terms of services </li>

                <li>privacy policy </li>
                <li> Concact us</li>
          
                  </ul>
              </div>
          </div>
      
          <div class="row">
              <div class="col-md-12 copy">
                  <p class="text-center">&copy; Copyright 2018 - Tata .  All rights reserved.</p>
              </div>
          </div>
      
      
        </div>
        </div>
      </footer>
      <style>
      </style>