<div class="row">
    <div class="col col-sm-8 col-md-8 py-5 mx-auto">
          <form class="form-group">
                  <textarea name="editor1" id="editor1" rows="10" cols="80">
                
                  </textarea>
                  <button type="submit" class="btn btn-primary mt-5">

                    submit
                  </button>              </form>

    </div>
</div>

<script>
    if("{{ckeditor_toolbar}}" == "GgallaryCommentsToolbar"){
        ckeditor_height = "100px";
    }
    else{

        ckeditor_height = "200px";
    }
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.

    CKEDITOR.replace( 'editor1',{
        enterMode : Number(2), //override default behaviour that adds <p></p> in ck editor
        toolbar:'{{ckeditor_toolbar}}',
        uiColor:'{{ckeditor_color}}',
        groupID: {group_id:'{{group_id}}'},
        nodeID: {node_id:'{{node_id}}'},
        textarea_id: 'ckeditor_textarea',
        customConfig : 'ckeditor-config.js',
        height : ckeditor_height,
        contentsCss : 'static/fu.css',

        // toolbar :
        //                                     [
        //                                         { name: 'basicstyles', items : [ 'Bold','Italic' ] },
        //                                         { name: 'paragraph', items : [ 'NumberedList','BulletedList' ] },
        //                                         { name: 'tools', items : [ 'Maximize','-','About' ,'addImage'] }
        //                                     ]
    });

    function setCurrNodeEdit(oid)
    {
        // document.getElementById("currently-edited-row").setAttribute("data-edited-row-id", oid);
    }

</script>

