
        <div class="py-5">
        <h1 class="text-center py-5">How To Use</h1>
        
        
        <div id="mixedSlider">
                            <div class="MS-content">
                                <div class="item">
                                       <div class="card border-dark bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header">Install</div>
          <div class="card-body text-dark">
            <h5 class="card-title"></h5>
            <p class="card-text">Install the modules and set up an audio system that supports recording. It is recommended that 2 or 3 students share a computer. 
              </p>
          </div>
        </div>
                                    <a href="#">Read More</a>
                                </div>
                                <!-- <div class="item">


                                        <div class="col-6 col-md-4 offset-2 col-sm-10 ">
                                                <div class=" card our-team">
                                                    <div class="pic">
                                                        <img src="http://picsum.photos/id/1/100/100">
                                                    </div>
                                                    <h3 class="title">Williamson</h3>
                                                    <span class="post">Web Developer</span>
                                                  <p class="bio"> </p>
                                                    <ul class="social">
                                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                                        <li><a href="#" class="fab fa-linkedin"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a href="#"> Read more</a>
                                </div> -->
                                <div class="item">
                                       <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Begin</div>
          <div class="card-body text-dark">
            <h5 class="card-title"></h5>
            <p class="card-text">Go through the modules and identify the language level suitable for your learners</p>
          </div>
        </div>
                                    <a href="#">Read More</a>
                                </div>
                                <div class="item">
                                       <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Help videos</div>
          <div class="card-body text-dark">
            <h5 class="card-title"></h5>
            <p class="card-text"> Ask learners to watch the help corner videos to understand how the tools are used. 
              </p>
          </div>
        </div>
                                    <a href="#">Read More</a>
                                </div>
                                <div class="item">
                                     <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body text-dark">
            <h5 class="card-title"></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
                                    <a href="#">Read More</a>
                                </div>
                                <div class="item">
                                       <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Facilitate</div>
          <div class="card-body text-dark">
            <h5 class="card-title">Facilitate</h5>
            <p class="card-text">Allow students to attempt activities on their own. Encourage them to seek help from their friends.
              <hr>
              <a style="display:block;" class="btn btn-primary" data-toggle="collapse" href="#collapseExamples">View more</a> <div class="collapse" id="collapseExamples"> <div class="card card-body">  Be present and supportive whenever students require your help. Watch these videos on how to create an ideal CLIx learning space. <a class="nav-link"  aria-expanded="false" aria-controls="collapseExample" href="https://drive.google.com/drive/u/0/folders/1wmUmp82nrEVOolko8xO6WlFWZM7Xq5rX">link </a> </div> </div></p>
          </div>
        </div>
                                    <a href="#">Read More</a>
                                </div>
                               
                            </div>
                            <div class="MS-controls">
                                <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                                <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
        </div> 
        