{% extends "base.html" %}

{% block content %}
<div class="py-2 surrounding-color">
<div class="blog ml-5 mx-5">
        <div class="card mb-3 ml-5 mb-5  blog-c" style="max-width: 1000px;">
          <div class="row no-gutters">
            <div class="col-10  col-md-3  col-sm-10">
              <img src="https://picsum.photos/id/1/200/200" class="card-img img-fluid img-repo" alt="...">
            </div>
            <div class="col-10 col-md-8 col-sm-12">
              <div class="card-body">
                <h5 class="card-title"> What we are </h5>
                <p class="card-text">  This is a wider card with supporting text below Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque voluptatibus in eligendi mollitia, possimus ducimus cum facilis. Accusamus, ipsum incidunt tempore cupiditate in vero eaque officiis at error id sint! as a natural lead-in to additional content. This content is a little bit longer. </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
             
                  <button class="btn btn-primary butn"> Read more</button>
                
              </div>
            </div>
          </div>
        </div>
        </div>

</div>
  <h1>Units</h1>
    <hr>
        {% include "units_cards.html" %}

        </div>
        {% endblock %}