
    <div class="jquery-script-center">
      <div class="rotateslider-container" id="slider">
        <div class="rotateslider-item">


            <div class='card card-profile text-center'>
                <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
              <div class="card-img-overlay">
                <p style="color:#fff; font-weight:bold"> 
                    We have one student who never speak the english and scared of it. Now he asked question in english in class. In the school compound also he speaks in english, he at least try. He got the motivation because of CLIx only. There is one student who wanted to use English more than me in class. Because of this student I can also correct myself. 
                    </p>
              </div>
  <div class='card-block'>
                  <img alt='' class='card-img-profile' src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=100'>
                  <h4 class='card-title'>
                      Kusum
                    <small>Teacher, Government Gorkha High School, Aizawl</small>
                  </h4>
                  <div class='card-links'>
                   
                  </div>
                </div>
              </div>
              
        </div>
        <div class="rotateslider-item">   <div class='card card-profile text-center'>
     
          <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
          <div class="card-img-overlay">
            <p style="color:#fff; font-weight: bold">These are innovative and exciting materials which break away from the traditional coursebook norms of focusing on grammatical forms one by one and providing easy but meaninglessly artificial  practice.</p>
          </div>
          <div class='card-block'>
            <img alt='' class='card-img-profile' src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=100'>
            <h4 class='card-title'>
                Professor Brian Tomlinson 
            </h4>

         University of Liverpool, Shanghai International Studies University, Anaheim University
    
            <div class='card-links'>
             
            </div>
          </div>
        </div>
        </div>
        <div class="rotateslider-item">    <div class='card card-profile text-center'>
            <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
            <div class='card-block'>
              <img alt='' class='card-img-profile' src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=100'>
              <h4 class='card-title'>
                Nicola Pressi
                <small>Front-end designer</small>
              </h4>
              <div class='card-links'>
               
              </div>
            </div>
          </div></div>
        <div class="rotateslider-item">    <div class='card card-profile text-center'>
            <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
            <div class='card-block'>
              <img alt='' class='card-img-profile' src='https://it.gravatar.com/userimage/3434071/205a00fc16ae537b26b56f40790910fe.jpg?size=100'>
              <h4 class='card-title'>
                Nicola Pressi
                <small>Front-end designer</small>
              </h4>
              <div class='card-links'>
               
              </div>
            </div>
          </div></div>
        <div class="rotateslider-item"><div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div></div>
        <span class="arrow right js-rotateslider-arrow" data-action="next"><i class="fa fa-angle-right fa-3x"></i></span>
        <span class="arrow left js-rotateslider-arrow" data-action="prev"><i class="fa fa-angle-left fa-3x"></i></span>
      </div>


      <script>
      
      $(function() {
  $('#slider').rotateSlider({

  });

});
      </script>