

<div class="col-md-2 col-sm-10 col-md-2 collapse d-md-flex navbar-expand-lg pt-2 min-vh-100" id="sidebar">
    <ul class="nav flex-column flex-nowrap hi">
        <li class="nav-item"> <a class="nav-link collapsed " href="#submenu1" data-toggle="collapse" data-target="#submenu1">Subject <i class="float-right fas fa-plus-circle fa-lg"></i></a></li>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-1 nav">
             <li class="nav-item">  <a class="nav-link " href="#"><input type="checkbox" name="english"> English</a></li>
                    <li class="nav-item"><a class="nav-link " href="#">  <input type="checkbox" name="english">math</a></li>

                    <li class="nav-item"><a class="nav-link " href="#">  <input type="checkbox" name="english">science</a></li>

                    <!-- <li class="nav-item">
                        <a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1">Customers</a>
                        <div class="collapse" id="submenu1sub1" aria-expanded="false">
                            <ul class="flex-column nav pl-4">
                                <li class="nav-item">
                                    <a class="nav-link p-1" href="#">
                                        <i class="fa fa-fw fa-clock-o"></i> Daily
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-1" href="#">
                                        <i class="fa fa-fw fa-dashboard"></i> Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-1" href="#">
                                        <i class="fa fa-fw fa-bar-chart"></i> Charts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link p-1" href="#">
                                        <i class="fa fa-fw fa-compass"></i> Areas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>
        </li>
     
        <!-- <li class="nav-item"><a class="nav-link" href="#"><i class ="fas fa-bar-chart fa-lg"></i>Handbook</a></li> -->
         <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-puzzle-piece fa-lg"></i> Modules</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-hand-holding-book "></i> Interactive</a></li>
             <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-images fa-sm"></i> Handbook</a></li>
        <!-- <li class="nav-item" ><a class="nav-link" href="#"><i class="fas fa-play-circle fa-lg"></i> Video's</a></li>
         <li class="nav-item" id="image_player"><a class="nav-link" > <i class="fas fa-desktop fa-sm"></i>latform</a></li> -->
    </ul>
</div>
<script>

$('#image_player').click(function() {
$.ajax({
            type: "POST",
            url: "{% url 'player_image_view' %}",
            datatype: "html",
            data:{
           
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
              $('#jar').html(data)
             

            }
          });
          
});
$('.nav').on('click', 'li', function(){
    $('.nav li').removeClass('active');
    $(this).addClass('active');
});
</script>