

 <div class="  py-5 mt-5"  >
        <h1 class="text-center ">Testimonial  Demos</h1>
        
        
        <div id="mixedSlider" class="coy">
                            <div class="MS-content">
                                <div class="item1" >
                                        <div class="col-8 col-md-4 py-2">
    
                                                <figure class="snip1192">
                                                    <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                                                    <div class="author">
                                                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                                                      <h5>Pelican Steve <span> LittleSnippets</span></h5>
                                                    </div>
                                                  </figure>
                                            </div>
        </div>
                                <div class="item1">
  
                                    <div class="col-8 col-md-4 py-2">
    
                                        <figure class="snip1192">
                                            <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                                            <div class="author">
                                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                                              <h5>Pelican Steve <span> LittleSnippets</span></h5>
                                            </div>
                                          </figure>
                                    </div>
                                </div>
                                <div class="item1">
                                    <div class="col-md-4 py-2">
    
                                        <figure class="snip1192">
                                            <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                                            <div class="author">
                                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                                              <h5>Pelican Steve <span> LittleSnippets</span></h5>
                                            </div>
                                          </figure>
                                    </div>
                                </div>
                                <div class="item1">
                                    <div class="col-md-4 py-2">
    
                                        <figure class="snip1192">
                                            <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                                            <div class="author">
                                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                                              <h5>Pelican Steve <span> LittleSnippets</span></h5>
                                            </div>
                                          </figure>
                                    </div>
                               </div>
                                <div class="item1">
                                    <div class="col-md-4 py-2">
    
                                        <figure class="snip1192">
                                            <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                                            <div class="author">
                                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                                              <h5>Pelican Steve <span> LittleSnippets</span></h5>
                                            </div>
                                          </figure>
                                    </div>
                               </div>
                                <div class="item1">
                                    <div class="col-md-4 py-2">
    
                                        <figure class="snip1192">
                                            <blockquote>Calvin: Sometimes when I'm talking with others, my words can't keep up with my thoughts. I wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
                                            <div class="author">
                                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sq-sample1"/>
                                              <h5>Pelican Steve <span> LittleSnippets</span></h5>
                                            </div>
                                          </figure>
                                    </div>
                               </div>
                               
                            </div>
                            <div class="MS-controls">
                                <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                                <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
        </div> 
        
     
  
    </style>
    <script>
        
  
  $('.coy').multislider({
  duration: 750,
  interval: 3000
  });
    
    </script>