
  <div id="reviewsSlider" style="overflow:hidden;">
    <h1 class="py-5 text-center">Team Details</h1>
      <div class="MS-content">
              <div class="item">
                  <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                      <div class=" card our-team">
                          <div class="pic">
                              <img src="http://picsum.photos/id/1/100/100">
                          </div>
                          <h3 class="title">Williamson</h3>
                          <span class="post">Teacher </span>
                        <p class="bio"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto, illo ducimus explicabo quae optio repudiandae dignissimos fuga autem et repellat repellendus veritatis, incidunt eius porro! Aliquam beatae ab praesentium. </p>
                          <ul class="social">
                              <li><a href="#" class="fab fa-facebook"></a></li>
                              <li><a href="#" class="fab fa-twitter"></a></li>
                              <li><a href="#" class="fab fa-google-plus"></a></li>
                              <li><a href="#" class="fab fa-linkedin"></a></li>
                          </ul>
                      </div>
                  </div>
            
          </div>
          <div class="item">
              <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                  <div class=" card our-team">
                      <div class="pic">
                          <img src="http://picsum.photos/id/1/100/100">
                      </div>
                      <h3 class="title">Williamson</h3>
                      <span class="post">Teacher </span>
                    <p class="bio"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto, illo ducimus explicabo quae optio repudiandae dignissimos fuga autem et repellat repellendus veritatis, incidunt eius porro! Aliquam beatae ab praesentium. </p>
                      <ul class="social">
                          <li><a href="#" class="fab fa-facebook"></a></li>
                          <li><a href="#" class="fab fa-twitter"></a></li>
                          <li><a href="#" class="fab fa-google-plus"></a></li>
                          <li><a href="#" class="fab fa-linkedin"></a></li>
                      </ul>
                  </div>
              </div>
        
      </div>
      <div class="item">
          <div class="col-6 col-md-4 offset-1 col-sm-10 ">
              <div class=" card our-team">
                  <div class="pic">
                      <img src="http://picsum.photos/id/1/100/100">
                  </div>
                  <h3 class="title">Williamson</h3>
                  <span class="post">Teacher </span>
                <p class="bio"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto, illo ducimus explicabo quae optio repudiandae dignissimos fuga autem et repellat repellendus veritatis, incidunt eius porro! Aliquam beatae ab praesentium. </p>
                  <ul class="social">
                      <li><a href="#" class="fab fa-facebook"></a></li>
                      <li><a href="#" class="fab fa-twitter"></a></li>
                      <li><a href="#" class="fab fa-google-plus"></a></li>
                      <li><a href="#" class="fab fa-linkedin"></a></li>
                  </ul>
              </div>
          </div>
    
  </div>
              <div class="item">
                  <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                      <div class=" card our-team">
                          <div class="pic">
                              <img src="http://picsum.photos/id/1/100/100">
                          </div>
                          <h3 class="title">Elina</h3>
                          <span class="post">Designer </span>
                        <p class="bio"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem id necessitatibus amet dolor quam non provident nemo impedit, hic harum repellat totam labore mollitia, quibusdam repudiandae numquam neque quisquam nulla. </p>
                          <ul class="social">
                              <li><a href="#" class="fab fa-facebook"></a></li>
                              <li><a href="#" class="fab fa-twitter"></a></li>
                              <li><a href="#" class="fab fa-google-plus"></a></li>
                              <li><a href="#" class="fab fa-linkedin"></a></li>
                          </ul>
                      </div>
                  </div>
            
          </div>
             
      <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
  </div>
</div>
</div>
</section>
</div>

<style>
  .back-team-cox{
    background:#b8d6db;
  }
button {
outline: 0 !important;
}
section.documentation {
padding: 0 15px;
}
section.documentation #sideNav {
margin-top: 50px;
}
section.documentation #sideNav.affix {
top: 0px;
}
section.documentation #sideNav ul {
list-style: none;
border-left: 1px solid grey;
padding-left: 5px;
margin-left: 15px;
}
section.documentation #sideNav ul li {
list-style-type: none;
padding: 0;
margin: 3px;
}
section.documentation #sideNav ul li a {
line-height: 1.5;
color: grey;
font-size: 16px;
}
section.documentation #sideNav ul li a:hover,
section.documentation #sideNav ul li a:active,
section.documentation #sideNav ul li a:focus {
color: #337ab7;
}
section.documentation .row h2 {
padding-top: 20px;
margin-top: 30px;
}
section.documentation code {
padding: 0;
background-color: transparent;
}
section.documentation code .comment {
color: grey;
}
.exampleSlider {
position: relative;
border: 1px solid black;
}
@media (max-width: 767px) {
.exampleSlider {
border-color: transparent;
}
}
.exampleSlider .MS-content {
margin: 15px 5%;
overflow: hidden;
white-space: nowrap;
border: 1px solid red;
}
@media (max-width: 767px) {
.exampleSlider .MS-content {
margin: 0;
}
}
.exampleSlider .MS-content .item {
display: inline-block;
height: 100%;
overflow: hidden;
position: relative;
vertical-align: top;
border: 1px solid green;
width: 20%;
}
@media (max-width: 1200px) {
.exampleSlider .MS-content .item {
width: 25%;
}
}
@media (max-width: 992px) {
.exampleSlider .MS-content .item {
width: 33.3333%;
}
}
@media (max-width: 767px) {
.exampleSlider .MS-content .item {
width: 50%;
}
}
.exampleSlider .MS-content .item p {
font-size: 30px;
text-align: center;
line-height: 1;
vertical-align: middle;
margin: 0;
padding: 10px 0;
}
.exampleSlider .MS-controls button {
position: absolute;
border: none;
background: transparent;
font-size: 30px;
outline: 0;
top: 35px;
}
@media (max-width: 767px) {
.exampleSlider .MS-controls button {
display: none;
}
}
.exampleSlider .MS-controls .MS-left {
left: 10px;
}
@media (max-width: 992px) {
.exampleSlider .MS-controls .MS-left {
left: -2px;
}
}
.exampleSlider .MS-controls .MS-right {
right: 10px;
}
@media (max-width: 992px) {
.exampleSlider .MS-controls .MS-right {
right: -2px;
}
}
/* logoSlider */
/* blog slider */
/*review slider */
#logoSlider {
position: relative;
}
#logoSlider .MS-content {
white-space: nowrap;
overflow: hidden;
margin: 0 2%;
height: 50px;
}
#logoSlider .MS-content .item {
display: inline-block;
width: 20%;
position: relative;
vertical-align: top;
overflow: hidden;
height: 100%;
white-space: normal;
line-height: 50px;
vertical-align: middle;
}
@media (max-width: 991px) {
#logoSlider .MS-content .item {
width: 25%;
}
}
@media (max-width: 767px) {
#logoSlider .MS-content .item {
width: 35%;
}
}
@media (max-width: 500px) {
#logoSlider .MS-content .item {
width: 50%;
}
}
#logoSlider .MS-content .item a {
line-height: 50px;
vertical-align: middle;
}
#logoSlider .MS-controls button {
position: absolute;
}
#logoSlider .MS-controls .MS-left {
top: 35px;
left: 10px;
}
#logoSlider .MS-controls .MS-right {
top: 35px;
right: 10px;
}
#blogSlider {
position: relative;
}
#blogSlider .MS-content {
white-space: nowrap;
overflow: hidden;
margin: 0 5%;
}
#blogSlider .MS-content .item {
display: inline-block;
width: 33.3333%;
position: relative;
vertical-align: top;
overflow: hidden;
height: 100%;
white-space: normal;
padding: 0 10px;
}
@media (max-width: 991px) {
#blogSlider .MS-content .item {
width: 50%;
}
}
@media (max-width: 767px) {
#blogSlider .MS-content .item {
width: 100%;
}
}
#blogSlider .MS-content .item .imgTitle {
position: relative;
}
#blogSlider .MS-content .item .imgTitle .blogTitle {
margin: 0;
text-align: left;
letter-spacing: 2px;
color: #252525;
font-style: italic;
position: absolute;
background-color: rgba(255, 255, 255, 0.5);
width: 100%;
bottom: 0;
font-weight: bold;
padding: 0 0 2px 10px;
}
#blogSlider .MS-content .item .imgTitle img {
height: auto;
width: 100%;
}
#blogSlider .MS-content .item p {
font-size: 16px;
margin: 2px 10px 0 5px;
text-indent: 15px;
}
#blogSlider .MS-content .item a {
float: right;
margin: 0 20px 0 0;
font-size: 16px;
font-style: italic;
color: rgba(173, 0, 0, 0.82);
font-weight: bold;
letter-spacing: 1px;
transition: linear 0.1s;
}
#blogSlider .MS-content .item a:hover {
text-shadow: 0 0 1px grey;
}
#blogSlider .MS-controls button {
position: absolute;
border: none;
background-color: transparent;
outline: 0;
font-size: 50px;
top: 95px;
color: rgba(0, 0, 0, 0.4);
transition: 0.15s linear;
}
#blogSlider .MS-controls button:hover {
color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
#blogSlider .MS-controls button {
font-size: 30px;
}
}
@media (max-width: 767px) {
#blogSlider .MS-controls button {
font-size: 20px;
}
}
#blogSlider .MS-controls .MS-left {
left: 0px;
}
@media (max-width: 767px) {
#blogSlider .MS-controls .MS-left {
left: -10px;
}
}
#blogSlider .MS-controls .MS-right {
right: 0px;
}
@media (max-width: 767px) {
#blogSlider .MS-controls .MS-right {
right: -10px;
}
}
#reviewsSlider {
position: relative;
}
#reviewsSlider h2 {
text-align: center;
text-decoration: underline;
font-style: italic;
margin: 0 auto 20px;
}
#reviewsSlider .MS-content {
white-space: nowrap;
overflow: hidden;
margin: 0 5%;
}
#reviewsSlider .MS-content .item {
display: inline-block;
position: relative;
vertical-align: top;
/* overflow: ; */
height: 100%;
white-space: normal;
padding: 0 15px;
width: 50%;
}
@media (max-width: 991px) {
#reviewsSlider .MS-content .item {
width: 100%;
}
}
#reviewsSlider .MS-content .item h3 {
text-align: center;
margin: 0 0 5px 0;
}
@media (max-width: 991px) {
#reviewsSlider .MS-content .item h3 {
font-size: 20px;
}
}
#reviewsSlider .MS-content .item h3 i {
font-size: 13px;
vertical-align: top;
color: grey;
margin: 0 10px;
}
#reviewsSlider .MS-content .item p {
text-align: center;
font-size: 14px;
}
#reviewsSlider .MS-content .item h4 {
text-align: center;
color: #5f5f5f;
font-size: 16px;
}
#reviewsSlider .MS-controls button {
position: absolute;
top: 50%;
font-size: 40px;
border: none;
background-color: transparent;
outline: 0;
color: rgba(0, 0, 0, 0.4);
transition: linear 0.15s;
}
#reviewsSlider .MS-controls button:hover {
color: rgba(0, 0, 0, 0.75);
}
#reviewsSlider .MS-controls .MS-left {
left: 10px;
}
@media (max-width: 991px) {
#reviewsSlider .MS-controls .MS-left {
left: 0;
}
}
@media (max-width: 767px) {
#reviewsSlider .MS-controls .MS-left {
left: -10px;
}
}
#reviewsSlider .MS-controls .MS-right {
right: 10px;
}
@media (max-width: 991px) {
#reviewsSlider .MS-controls .MS-right {
right: 0;
}
}
@media (max-width: 767px) {
#reviewsSlider .MS-controls .MS-right {
right: -10px;
}
}
</style>
<script>
$('#reviewsSlider').multislider({
slideAll: true,
autoSlide: true,
duration: 1000,
interval: 2000
});


</script>


<!-- <div class="container" style="margin-top:50px;">
        <div class="row">
             <div class="col-5">
                <h1>Our Team</h1>
             </div>
             <div class="col-7">
                <p style="max-width: 450px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex velit, pellentesque quis condimentum at, tincidunt ac risus. Vestibulum ante ipsum primis in faucibus.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="carousel-team-card" data-flickity='{ "groupCells": 3, "wrapAround": true }'>
              <div class="carousel-team-card-cell">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-team-card-cell">
                <div class="carousel-card-team">
                  <div class="card-team-img">
                    <img src="https://cdn.pixabay.com/photo/2018/02/26/21/04/owl-3184032__340.jpg" alt="" />
                  </div>
                  <div class="card-team-name">
                    <h3>Name</h3>
                    <span>Position</span>
                  </div>
                  <div class="card-team-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nisi id arcu bibendum efficitur. Pellentesque maximus ac libero non iaculis.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


 -->







      <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>


<!-- 
      <div class="container" style="margin:150px;"></div>
            <div class="row">
                <div class="col-6 col-md-4 offset-2 col-sm-10 ">
                    <div class=" card our-team">
                        <div class="pic">
                            <img src="http://picsum.photos/id/1/100/100">
                        </div>
                        <h3 class="title">Williamson</h3>
                        <span class="post">Web Developer</span>
                      <p class="bio"> </p>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
          
        
                <div class="col-6 col-md-4 offset-2 col-sm-10">
                    <div class="card our-team">
                        <div class="pic">
                            <img src="images/img-2.jpg">
                        </div>
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Web Designer</span>
                      <p class="bio"> </p>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div> -->








        <!-- <div id="inner" style="background:rgb(192, 240, 225);">
            <h1>jQuery slider plugin - Eclipse</h1>

               

                
                <section class="demo">

       
            <div id="eclipse4">
                <div class="eclipse-slider">
                      <div>
                    <div class="col-6 col-md-4 offset-2 col-sm-10 ">
                        <div class="card our-team">
                            <div class="pic">
                                <img src="http://picsum.photos/id/1/100/100">
                            </div>
                            <h3 class="title">Williamson</h3>
                            <span class="post">Web Developer</span>
                          <p class="bio"> </p>
                            <ul class="social">
                                <li><a href="#" class="fab fa-facebook"></a></li>
                                <li><a href="#" class="fab fa-twitter"></a></li>
                                <li><a href="#" class="fab fa-google-plus"></a></li>
                                <li><a href="#" class="fab fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                      </div>
                 <div>
                    <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                        <div class="card our-team">
                            <div class="pic">
                                <img src="http://picsum.photos/id/1/100/100">
                            </div>
                            <h3 class="title">Williamson</h3>
                            <span class="post">Web Developer</span>
                          <p class="bio"> </p>
                            <ul class="social">
                                <li><a href="#" class="fab fa-facebook"></a></li>
                                <li><a href="#" class="fab fa-twitter"></a></li>
                                <li><a href="#" class="fab fa-google-plus"></a></li>
                                <li><a href="#" class="fab fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                      </div>
                      <div>
                      <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                          <div class="card our-team">
                              <div class="pic">
                                  <img src="http://picsum.photos/id/1/100/100">
                              </div>
                              <h3 class="title">Williamson</h3>
                              <span class="post">Web Developer</span>
                            <p class="bio"> </p>
                              <ul class="social">
                                  <li><a href="#" class="fab fa-facebook"></a></li>
                                  <li><a href="#" class="fab fa-twitter"></a></li>
                                  <li><a href="#" class="fab fa-google-plus"></a></li>
                                  <li><a href="#" class="fab fa-linkedin"></a></li>
                              </ul>
                          </div>
                      </div>
                      
                        </div>
                        <div>
                    <div class="col-6 col-md-4 offset-2 col-sm-10">
                        <div class="card our-team">
                            <div class="pic">
                                <img src="images/img-2.jpg">
                            </div>
                            <h3 class="title">Kristiana</h3>
                            <span class="post">Web Designer</span>
                          <p class="bio"> </p>
                            <ul class="social">
                                <li><a href="#" class="fab fa-facebook"></a></li>
                                <li><a href="#" class="fab fa-twitter"></a></li>
                                <li><a href="#" class="fab fa-google-plus"></a></li>
                                <li><a href="#" class="fab fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <button class="eclipse-arrow eclipse-prev">prev</button>
                <button class="eclipse-arrow eclipse-next">next</button>
                <div class="eclipse-controls"><div class="eclipse-paging"><button class="eclipse-paging-button eclipse-paging-active">1</button><button class="eclipse-paging-button">2</button></div></div>
                </div>
                </section>
                </section>
        </div>
                <script>
                   
                   $('#eclipse4').eclipse({
                        margin: 20,
                        slidesToShow: 2,
                        
                        slidesToMove: 2
                    });
                </script>
            </div>
        </section>
        <style>
        #inner {max-width: 1100px; padding: 100px 100px; margin: 0 auto; background: #ffffff;}
    #inner h1 {margin: 0 0 100px; font-weight: 700; font-size: 40px; color: #000000;}
    #inner h2 {margin: 0 0 20px; font-weight: 700; font-size: 24px; color: #000000;}
    #inner .greeting {margin: 0 0 100px;}
    #inner .greeting .txt strong {font-weight: 400; color: #000000;}
    #inner .greeting .link {display: inline-block; margin: 10px 0 0; color: #1d86dc;}
    
    #inner .options {margin: 0 0 100px;}
    #inner .options table thead tr th {padding: 15px; color: #000000; text-align: center; background: #f7f7f7;}
    #inner .options table tbody tr td {padding: 15px; text-align: center; border-bottom: 1px solid #dddddd;}
    
    #inner .options {margin: 0 0 100px;}
    #inner .options table thead tr th {padding: 15px; color: #000000; text-align: center; background: #f7f7f7;}
    #inner .options table tbody tr td {padding: 15px; text-align: center; border-bottom: 1px solid #dddddd;}
    #inner .options table tbody tr td:nth-child(3) {text-align: left;}
    #inner .options table tbody tr td a {color: #569cd6;}
    
    #inner .methods {margin: 0 0 100px;}
    #inner .methods table thead tr th {padding: 15px; color: #000000; text-align: center; background: #f7f7f7;}
    #inner .methods table tbody tr td {padding: 15px; text-align: center; border-bottom: 1px solid #dddddd;}
    #inner .methods table tbody tr td a {color: #569cd6;}
    
    #inner .demowrap {margin: 0 0 100px;}
    #inner .demowrap .demo {width: 100%; margin: 0 auto 100px;}
    #inner .demowrap .demo:last-child {margin-bottom: 0;}
    #inner .demowrap .demo .desc {margin: 0 0 20px;}
    #inner .demowrap .demo .desc .tit {color: #000000;}
    #inner .demowrap .demo .desc .txt {margin: 10px 0 0;}
    #inner .demowrap .demo .source {margin: 30px 0 0; padding: 25px; border-radius: 15px; background: #1e1e1e; font-family: NanumGothic; font-size: 14px; line-height: 1.5; color: #ffffff; letter-spacing: 0.1em; word-break:break-all; white-space: pre-wrap;}
    #inner .demowrap .demo .source .hljs-tag {color: #569cd6;}
    #inner .demowrap .demo .source .hljs-attr {color: #9cdcfe;}
    #inner .demowrap .demo .source .hljs-string {color: #ce723b;}
    #inner .demowrap .demo .source .hljs-number {color: #b5cea8;}
    #inner .demowrap .demo .source .hljs-selector-id {color: #d7983d;}
    #inner .demowrap .demo .source .hljs-selector-class {color: #d7983d;}
    #inner .demowrap .demo .source .hljs-selector-tag {color: #d7983d;}
    #inner .demowrap .demo .source .hljs-attribute {color: #9cdcfe;}
    #inner .demowrap .demo .source .hljs-keyword {color: #569cd6;}
    #inner .demowrap .demo .source .hljs-literal {color: #569cd6;}
    #inner .demowrap .demo .source .hljs-subst {color: #569cd6;}
    #inner .demowrap .demo .source .hljs-comment {color: #6a9955;}
        </style>
        <script> -->
        
        
        </script>