<div class="container-fluid">
  <div id="reviewsSlider" style="overflow:hidden;">
    <h1 class="py-5 text-center">Team Details</h1>
      <div class="MS-content">
              <div class="item">
                  <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                      <div class=" card our-team">
                          <div class="pic">
                              <img src="http://picsum.photos/id/1/100/100">
                          </div>
                          <h3 class="title">Williamson</h3>edit
                          <span class="post">Teacher </span>
                        <p class="bio"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto, illo ducimus explicabo quae optio repudiandae dignissimos fuga autem et repellat repellendus veritatis, incidunt eius porro! Aliquam beatae ab praesentium. </p>
                          <ul class="social">
                              <li><a href="#" class="fab fa-facebook"></a></li>
                              <li><a href="#" class="fab fa-twitter"></a></li>
                              <li><a href="#" class="fab fa-google-plus"></a></li>
                              <li><a href="#" class="fab fa-linkedin"></a></li>
                          </ul>
                  </div>
            
          </div>
              </div>
          <div class="item">
            
              <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                  <div class=" card our-team">
                      <div class="pic">
                          <img src="http://picsum.photos/id/1/100/100">
                      </div>
                      <h3 class="title">Williamson</h3>
                      <span class="post">Teacher </span>
                    <p class="bio"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto, illo ducimus explicabo quae optio repudiandae dignissimos fuga autem et repellat repellendus veritatis, incidunt eius porro! Aliquam beatae ab praesentium. </p>
                      <ul class="social">
                          <li><a href="#" class="fab fa-facebook"></a></li>
                          <li><a href="#" class="fab fa-twitter"></a></li>
                          <li><a href="#" class="fab fa-google-plus"></a></li>
                          <li><a href="#" class="fab fa-linkedin"></a></li>
                      </ul>
                  </div>
              </div>
       
      </div>
      <div class="item">
     
          <div class="col-6 col-md-4 offset-1 col-sm-10 ">
              <div class=" card our-team">
                  <div class="pic">
                      <img src="http://picsum.photos/id/1/100/100">
                  </div>
                  <h3 class="title">Williamson</h3>
                  <span class="post">Teacher </span>
                <p class="bio"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto, illo ducimus explicabo quae optio repudiandae dignissimos fuga autem et repellat repellendus veritatis, incidunt eius porro! Aliquam beatae ab praesentium. </p>
                  <ul class="social">
                      <li><a href="#" class="fab fa-facebook"></a></li>
                      <li><a href="#" class="fab fa-twitter"></a></li>
                      <li><a href="#" class="fab fa-google-plus"></a></li>
                      <li><a href="#" class="fab fa-linkedin"></a></li>
                  </ul>
              </div>
          </div>
        
  </div>
              <div class="item">
                  <div class="col-6 col-md-4 offset-1 col-sm-10 ">
                      <div class=" card our-team">
                          <div class="pic">
                              <img src="http://picsum.photos/id/1/100/100">
                          </div>
                          <h3 class="title">Elina</h3>
                          <span class="post">Designer </span>
                        <p class="bio"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem id necessitatibus amet dolor quam non provident nemo impedit, hic harum repellat totam labore mollitia, quibusdam repudiandae numquam neque quisquam nulla. </p>
                          <ul class="social">
                              <li><a href="#" class="fab fa-facebook"></a></li>
                              <li><a href="#" class="fab fa-twitter"></a></li>
                              <li><a href="#" class="fab fa-google-plus"></a></li>
                              <li><a href="#" class="fab fa-linkedin"></a></li>
                          </ul>
                      </div>
                  </div>
            
          </div>
             
      <div class="MS-controls">
          <button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
          <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
  </div>
</div>
</div>

<style>
  


#reviewsSlider .MS-content {
white-space: nowrap;
overflow: hidden;
margin: 0 5%;
}
#reviewsSlider .MS-content .item {
display: inline-block;
vertical-align: top;
/* overflow: ; */
height: 100%;
padding: 0 15px;
width: 50%;
}
@media (max-width: 991px) {
#reviewsSlider .MS-content .item {
width: 80%;
}
}
#reviewsSlider .MS-content .item h3 {
text-align: center;
margin: 0 0 5px 0;
}
@media (max-width: 991px) {
#reviewsSlider .MS-content .item h3 {
font-size: 20px;
}
}
#reviewsSlider .MS-content .item h3 i {
font-size: 13px;
vertical-align: top;
color: grey;
margin: 0 10px;
}
#reviewsSlider .MS-content .item p {
text-align: center;
font-size: 14px;
}
#reviewsSlider .MS-content .item h4 {
text-align: center;
color: #5f5f5f;
font-size: 16px;
}
#reviewsSlider .MS-controls button {
position: absolute;
top: 50%;
font-size: 40px;
border: none;
background-color: transparent;
outline: 0;
color: rgba(0, 0, 0, 0.4);
transition: linear 0.15s;
}
#reviewsSlider .MS-controls button:hover {
color: rgba(0, 0, 0, 0.75);
}
#reviewsSlider .MS-controls .MS-left {
left: 10px;
}
@media (max-width: 991px) {
#reviewsSlider .MS-controls .MS-left {
left: 0;
}
}
@media (max-width: 767px) {
#reviewsSlider .MS-controls .MS-left {
left: -10px;
}
}
#reviewsSlider .MS-controls .MS-right {
right: 10px;
}
@media (max-width: 991px) {
#reviewsSlider .MS-controls .MS-right {
right: 0;
}
}
@media (max-width: 767px) {
#reviewsSlider .MS-controls .MS-right {
right: -10px;
}
}
</style>
<script>
$('#reviewsSlider').multislider({
slideAll: true,
autoSlide: true,
duration: 1000,
interval: 2000
});


</script>

        
        </script>