<!-- Button trigger modal -->

      
      <!-- Modal -->
     
<div class="container">

    <div class="row">

        <div class="col-md-12">
                <div class="small-12 medium-6 large-2 columns template-list" data-content="{{each.content}}">
                        <div class="template_tile">
                            <div class="template_preview">
                                <img src="/static/ndf/images/template-icon.png">
                            </div>
                            <div class="template_text">
                                <div class="template_title" title="{{each.name}}">
                                    {{each.name|truncatechars:20}}
                                  <div class="hello"> Hello </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
             
            </div>
        </div>
    </div>

               
          <script type="text/javascript">
            $(".template-list").click(function(event){
                var content = $(this).attr("data-content");
                CKEDITOR.instances['editor1'].insertHtml(content);
                $('#group_imgs_on_modal').modal('hide');
            });
        </script>